<!doctype html>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upsmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

<section class="content">
  <header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Upsmon</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/upses">UPS List</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">UPS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/addups">Add UPS</a></li>
          <li><a href="/removeups">Remove UPS</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
    {% block header %}

    {% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>